# Docker volumes
*.log
*.lic

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
venv/
env/

# pyATS
*.archive
.pycache/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
